body, html {
    height: 100%;
}
body {
    padding-top: 50px;
    background-color: rgb(237, 237, 237);
}
#parallax {
    /* The image used */
    background-image: url("https://wallpaperaccess.com/full/6133746.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    font-family: 'Raleway', sans-serif;
}
#parallax {
    font-family: 'Raleway', sans-serif;
}
