body,
html {
    height: 100%;
}

body {
    padding-top: 50px;
    background-color: rgb(237, 237, 237);
}

#parallax {
    /* The image used */
    background-image: url("https://wallpaperaccess.com/full/6133746.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    font-family: 'Raleway', sans-serif;
}

#parallax {
    font-family: 'Raleway', sans-serif;
}

footer {
    font-family: 'Raleway', sans-serif;
}

.carousel-item {
    width: 100%;
    /*width you want*/
    height: 500px;
    /*height you want*/
    overflow: hidden;
    /*è quello che eccede e il comando è Nascondilo*/
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#logo-base {
width: 50px; /* Your chosen height */
height: auto; /* Must be auto */
}

   /* Logo image CSS */

#logo-base img {
width: 100%; /* Must be 100% */
height: auto; /* Must be auto */
}

